.cart-comp{
 display: flex;
 justify-content: end;
}
.cart-area{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 15px;
}

.card-component{
   display: flex ;
   flex-direction: column;
   width: 250px;
   height: 250px;
   border : 1px solid black;
   border-radius : 5px;
   justify-content: stretch;
   padding : 5px;
}

img{
  width: 250px;
  height: 130px;
  object-fit:contain;
}

button{
  padding : 7px;
  width: max-content;
  margin: 0 auto;
}